{% extends 'base.html' %}

{% block content %}
    <h1>Products</h1>

    <div class="row">
        {% for product in products %}

        <div class="col">
            <div class="card" style="width: 18rem;  margin: 1.5rem .2rem;">
                <img 
                    src='{{ product.image_url }}' 
                    class="card-img-top" 
                    alt="{{ product.name }}"
                    style="width: 100%; height: 250px"    
                >
                <div class="card-body">
                    <h5 class="card-title text-capitalize">{{ product.name }}</h5>
                    <p class="card-text">Price: ${{product.price}}</p>
                    <a href="#" class="btn btn-success">Add to cart</a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
{% endblock %}